.foo {
  font-size: calc((12px - 420px * 0.010465116279069767) + 1.0465116279069768vw);
}
@media screen and (max-width: 420px) {
  .foo {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .foo {
    font-size: 21px;
  }
}

.bar {
  foo: bar;
}
