.foo {
  font-size: calc(12px + 9 * ((100vw - 420px) / 860));
}

@media screen and (min-width: 1280px) {

  .foo {
    font-size: 21px;
  }
}

@media screen and (max-width: 420px) {

  .foo {
    font-size: 12px;
  }
}

.bar {
  foo: bar;
}
